@charset "UTF-8" ;


button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ff0000;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto;
    color: white;
    
  }
  
  button:hover {
    background: #ff3535;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
    
  }
  
  button:hover svg {
    transform: translateX(5px);
    
  }
  
  button:active {
    transform: scale(0.95);
    
  }

  div#menu {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;

  }

  header {
    width: 1500px;
    background-color: #F1E4D1;
    display: flex;
    position: relative;
    margin:0 auto
    
  }
  
  .logo-imagem{
    max-width: 100px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin-left: 20px;
    
  }
  .container-logo{
    display: flex;
    align-items: center;
  }
  .logo-texto{
    margin-left: 10px;
  }

  .menu li{
    display: inline-block;
  }
  .menu li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    align-items: center;
    
  }
