*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Botão "Fazer Pedido"*/


button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ff0000;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto;
    color: white;
    
  }
  
  button:hover {
    background: #ff3535;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
    
  }
  
  button:hover svg {
    transform: translateX(5px);
    
  }
  
  button:active {
    transform: scale(0.95);
    
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

/*Cabecalho*/

}
header{
  background-color: rgb(0, 0, 0);
}
li{
  list-style: none;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-link{
  transition: 0.5s ease;
}
.nav-link:hover{
  color: darkgray;
}
.sushi{
  display: none;
  cursor: pointer;

}
.bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
@media (max-width:700px){
  .sushi{
    display: block;
  }
  .sushi.active .bar:nth-child(2){
    opacity: 0;
  }
  .sushi.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .sushi.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 10px;
    border-radius: 0 0 10px 20px;
    background-color: black;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;

  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
}


